/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    position: sticky;

} */

.HomepgMain{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 70lh;
    background: url('..//src/components/Homepagebg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
   
}
.glow{
  font-weight:bold;
  font-size: 30px;
  font-family:Verdana;
  color: #131111;
  text-align: right;
  margin-right: 10%;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


.maintext{
    margin-right: 690px;
    font-size: 18px;
}
.maintext .herehome{
    margin-top: 30px;
    margin-left: 150px;
    font-size: 15px;
    text-decoration: none;
    font-size: 20px;
}
.maintext .herehome .h2{
    text-decoration: none;
    font-size: 50px;
}
h1{
    font-size:250%;
    padding-left: 30px;
    /* position:static ; */
    color: rgb(25, 27, 26);
    font-weight: 600;

}
.btnLogin-popup{
background-color: rgb(209, 139, 33);
}

.btnLogin-popup  a {
    /* margin-left: 40rem !important; */
    /* font-family: ' Verdana';   */
    text-decoration: none;
    color: black;
}
/* .navgation{
    position:absolute;
} */
.homepagepic{
   margin-right:10%;
   margin-top: 15%;

}
.herehome{
    
    background-color: bisque;
    margin-right: 1rem !important;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
    
}

@keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 600px;
    }
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #f5f0f0, 0 0 20px #f0ebeb, 0 0 30px #f5f3ed, 0 0 40px #d1a924, 0 0 50px #d1a924, 0 0 60px #d1a924, 0 0 70px #d1a924;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #d1a924, 0 0 40px #d1a924, 0 0 50px #d1a924, 0 0 60px #d1a924, 0 0 70px #d1a924, 0 0 80px #d1a924;
    }
  }
  